{% extends 'layout.html' %} {% block body %}
<style>
  .list-group {
    display: inline-block;
  }
</style>
<div class="jumbotron text-center">
  <h1>LoL Duo Stats!</h1>
  <p class="lead">Enter you and your buddy's summoner names and find out how well you play together!</p>
</div>
<div class="container text-center">
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="" method="POST">
    <div class="row justify-content-md-center">
      <div class="form-group col-md-3">
        {{render_field(form.summoner_1, class_='form-control')}}
      </div>
      <div class="form-group col-md-3">
        {{render_field(form.summoner_2, class_='form-control')}}
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="form-group col-md-3">
        {{render_field(form.region_1, class_='form-control')}}
      </div>
      <div class="form-group col-md-3">
        {{render_field(form.region_2, class_='form-control')}}
      </div>
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</div>
{% endblock %}